@import "product";

body {
    font-family: SegoePro;
    font-weight: 300;
    margin: 0;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 15px;
}
//Section top
.section-top {
    background-color: #424242;
    height: 27px;
}
.section-top__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.section-top__link {
    margin-left: 25px;
    text-decoration: none;
    color: lightgray;
    font-weight: 100;
}
//Section search
.section-search {
    background-color: #EDEDED;
    height: 110px;
}
.search-box {
    display: flex;
    align-items: center;
    height: 110px;
}
.search-block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
}
.search-block2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
}
.search-block1__input {
    width: 70%;
    background-color: #79B260;
    height: 44px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 4px;
    max-width: 460px;
    box-shadow: 0 0 2px;
    & input {
        width: 70%;
        height: 30px;
        margin-left: 5px;
        border-radius: 4px;
        border-style: none;
    }
    & .fa-icon {
        font-size: 25px;
        color: white;
        margin-left: 15px;
        margin-right: 15px;
    }
    & .search-link {
        font-size: 20px;
        color: white;
        font-weight: 400;
        text-decoration: none;
    }
}
.search-block__cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 65px;
    border-right: 1px solid gray;
    margin-left: auto;
    & .search-block__cart-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5px;
        margin-bottom: 2px;
    }
    & .search-block__cart-bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5px;
    }
    & img {
        margin-right: 10px;
    }
    & .cart-text {
        color: #6D6D6D;
        font-size: 20px;
        font-weight: 400;
    }
    & .cart-sum {
        width: 50%;
        color: #6D6D6D;
        font-size: 25px;
        font-weight: 700;
    }
    & button {
        width: 50%;
        height: 30px;
        max-width: 83px;
        background-color: #3E3E3E;
        font-size: 15px;
        color: lightgray;
        border-radius: 5px;
        border-style: none;
        box-shadow: inset 2px 2px #696969;
        outline: none;
    }
    & button:hover {
        cursor: pointer;
    }
}
.search-block__wish-list {
    width: 30%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    & .search-block__wish-list-text {
        color: #6D6D6D;
        font-size: 22px;
        font-weight: 400;
    }
    & .search-block__wish-list-sup {
        display: block;
        background-color: #79B260;
        color: white;
        position: absolute;
        right: 8px;
        bottom: calc(100% - 35px);
        font-size: 12px;
        padding: 2px 5px;
        text-align: center;
        border-radius: 8px;
    }
}
//Section nav
.nav-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    & a {
        text-decoration: none;
        font-size: 17px;
        font-weight: 400;
        color: #5B5B5B;
        width: 11.1%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &.nav-block__link-active {
            background: linear-gradient(to top, #7DB863, #8ED171);
            color: white;
        }
    }
}
.section-nav {
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
}
//Section slider
.section-slider {
    margin-top: 15px;
}
.slider-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .slider-block__slick-slider {
        width: 70%;
        height: 310px;
    }
    & .slider-block__right {
        width: 30%;
        background: url("../img/slider-right-img.png") no-repeat;
        background-size: cover;
        height: 310px;
        max-width: 290px;
    }
}
//Slider slick
/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

//Конкретный слайдер
.slider-block__slick-slider {
    position: relative;
}
.slider-block__slick-slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1000;
    font-size: 0;
    width: 40px;
    height: 40px;
    border-style: none;
    margin: -20px 0 0 0;
    outline: none;
}
.slider-block__slick-slider .slick-arrow.slick-prev {
    left: 10px;
    background: url("../img/prev.png") 0 0 / 100% no-repeat;
}
.slider-block__slick-slider .slick-arrow.slick-prev:hover {
    cursor: pointer;
}
.slider-block__slick-slider .slick-arrow.slick-next {
    right: 10px;
    background: url("../img/next.png") 0 0 / 100% no-repeat;
}
.slider-block__slick-slider .slick-arrow.slick-next:hover {
    cursor: pointer;
}

//Slider inside
.slider-block__slider-item {
    display: flex;
    align-items: center;
    height: 310px;
    & .slider-block__slider-item-img {
        display: flex;
        justify-content: flex-end;
        width: 45%;
    }
    & .slider-block__text-box {
        width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h1 {
            font-size: 45px;
            font-weight: 700;
            margin: 60px 80px 0 0;
            color: white;
        }
        & .slider-block__text-box-first {
            font-size: 25px;
            font-weight: 400;
            margin-right: 80px;
            color: white;
        }
        & .slider-block__text-box-second {
            font-size: 20px;
            font-weight: 700;
            margin-right: 80px;
            color: white;
        }
    }
}
//Slider block right
.slider-block__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .slider-block__right1 {
        font-size: 30px;
        font-weight: 400;
        color: white;
    }
    & .slider-block__right2 {
        font-size: 15px;
        font-weight: 300;
        color: white;
        margin-bottom: 10px;
    }
    & .slider-block__right3 {
        font-size: 20px;
        font-weight: 300;
        color: white;
    }
    & .slider-block__right4 {
        font-size: 30px;
        font-weight: 400;
        color: white;
    }
    & button {
        background: linear-gradient(to top, #52ab52, #60C060);
        width: 110px;
        height: 30px;
        border-style: none;
        border-radius: 4px;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
}
//Section categories
//Categories left
.section-categories {
    margin-top: 15px;
    margin-bottom: 30px;
}
.categories-block {
    display: flex;
}
.categories-left {
    width: 20%;
    max-width: 190px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #D6D6D6;
    & span {
        font-size: 20px;
        font-weight: 400;
        margin-top: 5px;
        margin-bottom: 5px;
        color: #696969;
    }
    & .fiction-and-literature, .non-fiction, .other {
        width: 100%;
    }
    & .non-fiction__btn, .other__btn {
        padding-left: 30px;
    }
    & button {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 30px;
        padding-left: 25px;
        font-size: 14px;
        font-weight: 700;
        color: #696969;
        border-style: none;
        background: white;
        outline: none;
        cursor: pointer;
    }
    & button:hover {
        background: linear-gradient(to left, #52ab52, #60C060);
        color: white;
    }
    & .all__btn {
        font-size: 15px;
    }
    & .all__btn.all__btn-active {
        background: linear-gradient(to left, #52ab52, #60C060);
        color: white;
    }
    & .other a:last-child {
        border-bottom: none;
        margin-bottom: 60px;
    }
    & a {
        display: block;
        width: 100%;
        margin-left: 32px;
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color: #696969;
        padding-top: 3px;
        padding-bottom: 3px;
        border-bottom: 1px solid #E6E7E8;
        max-width: 130px;
    }
    & a:hover {
        color: #52ab52;
    }
}
//Categories right
//Tabs
.tabs {
    height: 41px;
    display: flex;
    justify-content: flex-start;
    & .tab {
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to top, #F1F1F1, #F7F7F7);
        font-size: 15px;
        font-weight: 400;
        color: #696969;
        width: 140px;
        border: 1px solid #D6D6D6;
        height: 40px;
    }
    & .tab:hover {
        cursor: pointer;
    }
    & .tab.active {
        color: black;
        background: white;
        border-bottom: 1px solid white;
    }
}
//Tabs content
.categories-right {
    width: 79%;
    margin-left: auto;
}
.tab_content {
    border: 1px solid #D6D6D6;
}
.tab_item {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 58px;
    position: relative;
    & .tab_item__box {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & p {
            font-size: 15px;
            color: #696969;
            margin-bottom: 0;
            margin-top: 0;
        }
        & span {
            font-size: 20px;
            font-weight: 400;
            color: #F26A6D;
            margin-top: 5px;
        }
    }
}
//Number buttons
.tab_item__number-buttons {
    position: absolute;
    display: flex;
    align-items: baseline;
    width: 150px;
    bottom: 0;
    right: 20px;
    & .tab_item__link {
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color: #696969;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
    }
    & .tab_item__link.tab_item__link-active {
        border: 1px solid #D6D6D6;
        border-bottom: 4px solid #81BD66;
    }
}
//Footer
footer {
    background-color: #454340;
    padding-bottom: 20px;
}
.footer-block {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    & .footer-block__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        & .underline {
            width: 175px;
            height: 1px;
            background-color: #CDCDCD;
            margin: 6px 0;
        }
        & span {
            margin-top: 25px;
            margin-bottom: 25px;
            font-size: 20px;
            font-weight: 400;
            color: #CDCDCD;
        }
        & .math {
            display: block;
            width: 100%;
            text-align: start;
        }
    }
    & a {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        font-weight: 300;
        color: #CDCDCD;
        max-width: 175px;
    }
}
//Footer bottom
.footer-bottom-one {
    height: 100px;
    background-color: #302F2E;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom-one__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    & span {
        font-size: 20px;
        color: #CDCDCD;
    }
    & .cards {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
        & img {
            margin-right: 5px;
        }
    }
}
.middle-line {
    width: 100%;
    height: 1px;
    background-color: #565350;
}
.footer-bottom-two {
    height: 50px;
    background-color: #302F2E;
    & .footer-bottom-two__block {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        & span {
            font-size: 15px;
            color: #CDCDCD;
        }
    }
    }

//lock classes
.section-search.section-search__media {
    display: none;
}
.logo-media {
    display: none;
}
.footer-mobile {
    display: none;
}

//Media
@media (max-width: 992px) {
    .section-search {
        display: none;
    }
    .categories-left.categories-left-home {
        display: none;
    }
    .categories-right.categories-right-home {
        width: 100%;
        margin-left: 0;
    }
    .section-search.section-search__media {
        display: initial;
        height: 170px;
        & .search-box {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            height: 170px;
            & .search-block1 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                & .search-block1__input {
                    width: 100%;
                    max-width: 600px;
                }
            }
            & .search-block2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                max-width: 460px;
                & .search-block__wish-list {
                    max-width: 110px;
                }
            }
        }
    }
    .section-nav {
        height: 80px;
        & .nav-block {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            height: 40px;
            & a {
                width: 20%;
            }
        }
    }
    .slider-block {
        flex-direction: column-reverse;
        & .slider-block__right {
            width: 100%;
            max-width: initial;
            margin-bottom: 20px;
        }
    }
    .slider-block .slider-block__slick-slider {
        width: 100%;
    }
    footer {
        display: none;
    }
    .footer-mobile {
        display: block;
        height: 80px;
        background-color: #454340;
        & .footer-mobile__block {
            width: 100%;
            height: 80px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            & a {
                text-decoration: none;
                color: #CDCDCD;
                font-size: 20px;
            }
            & a:hover {
                color: white;
            }
        }
    }
}


@media (max-width: 767px) {
    .section-search {
        display: none;
    }
    .section-search.section-search__media {
        display: initial;
        height: 170px;
        & .search-box {
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            height: 170px;
            & .search-block1 {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: 20px;
                margin-bottom: 20px;
                & .search-block1__input {
                    max-width: 460px;
                }
            }
            & .search-block2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                & .search-block__wish-list {
                    max-width: 110px;
                }
            }
        }
    }
    .slider-block__slider-item-img img {
        width: 80%;
    }
    .slider-block__slider-item .slider-block__text-box h1 {
        font-size: 30px;
        margin: 0 80px 0 0;
    }
    .slider-block__slider-item .slider-block__text-box .slider-block__text-box-first {
        font-size: 12px;
    }
    .slider-block__slider-item .slider-block__text-box .slider-block__text-box-second {
        font-size: 15px;
    }
    .categories-right {
        width: 100%;
        & .tab_item__box {
            width: 25%;
        }
    }
    .footer-mobile {
        height: 170px;
        & .footer-mobile__block {
            height: 170px;
            flex-direction: column;
        }
    }
}

@media (max-width: 580px) {
    .slider-block__slider-item .slider-block__text-box h1 {
        font-size: 20px;
        margin: 0 80px 0 0;
    }
    .slider-block__slider-item .slider-block__text-box .slider-block__text-box-first {
        font-size: 15px;
    }
    .slider-block__slider-item .slider-block__text-box .slider-block__text-box-second {
        font-size: 20px;
    }
    .categories-right {
        width: 100%;
        & .tab_item__box {
            width: 33%;
        }
    }
    .footer-bottom-one {
        height: 120px;
    }
    .footer-bottom-one__block span {
        text-align: center;
    }
    .footer-bottom-two {
        height: 70px;
    }
    .footer-bottom-two__block span {
        text-align: center;
    }
}

@media (max-width: 480px) {
    .search-block1__logo {
        display: none;
    }
    .search-block1__input input {
        width: 85%;
    }
    .logo-media {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    .search-block__cart {
        margin-left: 0;
    }
    .section-top__menu {
        justify-content: space-around;
        & .section-top__link {
            margin-left: 0;
        }
    }
    .section-nav {
        height: 120px;
        & .nav-block a {
            width: 33.3%;
        }
    }
    .slider-block__slider-item {
        flex-direction: column-reverse;
        justify-content: center;
    }
    .slider-block__slider-item-img {
        width: 50%;
    }
    .slider-block__slider-item .slider-block__text-box h1 {
        width: 100%;
        font-size: 20px;
        margin: 0 60px 0 60px;
        text-align: center;
    }
    .slider-block__text-box {
        width: 100%;
        margin-bottom: 25px;
    }
    .slider-block__slider-item .slider-block__text-box .slider-block__text-box-first {
        width: 100%;
        font-size: 15px;
        margin: 0 60px 0 60px;
        text-align: center;
    }
    .slider-block__slider-item .slider-block__text-box .slider-block__text-box-second {
        width: 100%;
        font-size: 20px;
        margin: 0 60px 0 60px;
        text-align: center;
    }
    .categories-right {
        width: 100%;
        & .tab_item__box {
            width: 50%;
        }
    }
    .footer-bottom-one__block span {
        font-size: 18px;
        text-align: center;
    }
    .footer-bottom-two__block span {
        font-size: 20px;
        text-align: center;
    }
    .search-link {
        display: none;
    }
    .search-block__wish-list .search-block__wish-list-sup {
        right: 0;
    }
    .tabs .tab {
        font-size: 11px;
    }
}